/*
body {
    background-image: url("../images/ciel.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}*/

p, label {
    font-family: "Exo 2", sans-serif !important;
}

p, label {
    font-size: 1vw !important;
}

footer {
    width: 100%;
    position: fixed;
    top: calc( 100vh - 80px )
}

.fixed-top {
    position: fixed;
    top: 0px;
    width: 100%;
}

html, body {
    margin: 0;
    height: 100%;
}

@media (prefers-color-scheme: light) {
    html {
        background: linear-gradient(30deg, rgba(0, 191, 255, 1) 0%, rgba(255, 255, 255, 1) 100%) !important;
    }

    .box {
        background: #fdfaf6;
    }

    footer {
        background: #fdfaf6;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background: linear-gradient(30deg, rgba(25, 25, 112, 1) 0%, rgba(20, 22, 26, 1) 90%) !important;
    }
}

/*
@media (prefers-color-scheme: light) {
    html {
        background: linear-gradient(30deg, rgba(70, 70, 255, 1) 0%, rgba(255, 255, 255, 1) 100%) !important;
        color: black;
        transition: background 0.5s ease, color 0.5s ease;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background: linear-gradient(30deg, rgba(70, 70, 255, 1) 0%, rgba(20, 22, 26, 1) 80%, rgba(0, 0, 0, 1) 100%) !important;
        color: white;
        transition: background 0.5s ease, color 0.5s ease;
    }
}*/